@model dynamic

@{
    ViewData["Title"] = "Index";
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>&nbsp;</th>
            @foreach (var date in Model.Dates)
            {
                <th>@date.ToString("dd.MM.yyyy")</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.Namestudent</td>
                @foreach (var date in Model.Dates)
                {
                    <td>
                        @if (Model.DutyData.ContainsKey(date) && Model.DutyData[date].ContainsKey(student.Id))
                        {
                            
                                <b>+</b>
                           
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>