@model JournalKIT.Models.Groupstudent

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Namegroup" class="control-label"></label>
                <input asp-for="Namegroup" class="form-control" />
                <span asp-validation-for="Namegroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Creategroup" class="control-label"></label>
                <input asp-for="Creategroup" class="form-control" />
                <span asp-validation-for="Creategroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutorid" class="control-label"></label>
                <select asp-for="Tutorid" class="form-control" asp-items="ViewBag.Tutorid"></select>
                <span asp-validation-for="Tutorid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specialtyid" class="control-label"></label>
                <select asp-for="Specialtyid" class="form-control" asp-items="ViewBag.Specialtyid"></select>
                <span asp-validation-for="Specialtyid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к таблице</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
