@model JournalKIT.Tutor

@{
    ViewData["Title"] = "Delete";
}


<h3>Точно удалить?</h3>
<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            Преподователь
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nametutor)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="УДАЛИТЬ" class="btn btn-danger" /> |
        <a asp-action="Index">Вернутья к таблице</a>
    </form>
</div>
